$color-block-registration: rgb(255, 255, 255);
$color-block-registration-hover: rgb(231, 231, 231);

.registration__block {
  width: 1169rem;
  min-height: 876rem;
  background-color: $color-block-registration;
  border-radius: 80rem;
  box-shadow: 0 0 50rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding: 100rem 90rem;
  &:hover {
    background-color: $color-block-registration-hover;
    input::placeholder {
      transition: color 0.3s ease, transform 0.3s ease;
      color: gray;
    }
  }
  input::placeholder {
    color: white;
    padding-left: 5rem;
  }
}

@media screen and (max-width: 600px) {
  .registration__block {
    padding: 30rem 10rem;
  }
}
