@tailwind base;
@tailwind components;
@tailwind utilities;

$background-window: rgb(206, 206, 206);

html {
  font-size: 0.0625vw;
  font-family: Arial;
}

body {
  font-size: 16rem;
  display: flex;
  justify-content: center;
  background-color: $background-window;
}

label {
  display: inline-block;
  min-width: 223rem;
}

hr {
  height: 1rem;
  border-top-width: 1rem;
}

select {
  padding-left: 5rem;
  outline: none;
  cursor: pointer;
  border-radius: 1rem;
  min-width: 335rem;
  min-height: 31rem;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 0.2778vw;
    label {
      display: block;
    }
  }
}
